/* custom font */

@font-face{
	font-family : gup ;
	src: url('../gup_font/GraceUnderPressure.ttf') format('truetype');
}
@font-face{ /* for IE */
	font-family:gup; 
	src: url('../gup_font/GraceUnderPressure.eot') format('truetype');
}
body{
	margin : 0;
	padding: 0;
    background: url(../img/album-coverresize-1.jpg) no-repeat;
    background-size: 100%;
    font-family: gup, tahoma, verdana;
}
/* * { border: 1px solid black; } */
                                /* FONTZ */
h1{
   text-align: center;
   /* padding-bottom: 10px; */
   vertical-align: middle;
}                                

                                /* TOP NAV AREA*/

/* header{} */
nav ul li {

	/* color : red; */
    /* size: 90px; */
    font-size: 25px;
	text-decoration: none;
	display: inline-block;
}

#navLinks {
	float : right;
	/* background-color: red; */
	position:relative;
	z-index: 1;
}
#siteName {
    float: left;
	/* background-color: #52f308; */
	position:relative;
    z-index: 1;
    font-size: 25px;
    margin: auto;
    
}
#siteName h1{
     margin-top :1.5% ;
}

/* main {
	width : 100%;
	height: 1000px ;
	background-color: saddlebrown;
} */
section{
	width : 100%;
	height:125% ;
	/* background-color: rgba(255, 6, 222, 0.849); */
	position: absolute;
    /* z-index: 0; */
    border: none;
    
}
                                /* TRACKS SECTION AREA */

ul li{
	list-style-type: none;
    line-height:210%;
    cursor: pointer;

}
    /* active track style */
/* .trackNames */
.active{
    font-weight: bold;
    padding: -1px;
    /* opacity: .2; */
    margin: 0;
    background: rgba(177, 196, 228, .5);
    border-radius: 4px;
    /* cursor: pointer; */
}
#trackNamesA{
	float: left;
	/* position: relative; */
	/* display: inline-block; */
	width: 49.5%;
	height: 100%;
	/* background-color: lawngreen; */
}
#trackNamesB{
	float: right;
	/* position: relative; */
	/* display: inline-block; */
	width: 49.5%;
	height: 100%;
	opacity: 4;
	
	text-decoration: none;
	/* background-color: rgb(0, 252, 84); */
	
}
#trackList{
	/* background-color: crimson; */
	/* background: url(../img/Rush-making-video-for-grace.jpg);  */
	/* opacity : .4; */
	height : 45%;
	width : 60% ;
	display: block;
	margin : 12% auto;
	/* margin-left: 10% ; */
	/* text-align: center ; */
	position: relative;
    /* z-index: -1; */
    border: none;
	
}
/* pseudo for image div bkgrd */
#trackList:before{
    position: absolute;
    background: url(../img/Rush-making-video-for-grace.jpg) 42%;
    /* padding-bottom: 140px; */
    /* display: block; */
    box-shadow: 0 2px 14px 14px white inset;
    border-radius: 4px;
    top:0;
    bottom:0; 
    right: 0;
    left: 0;
    content: '';
    opacity: .3;
    z-index: -1;
    /* margin-bottom: 15%; */
}
                                /* FOOTER */
footer {
	/* position: fixed; */
	position: relative;
    left: 0;
	bottom: 0;
	height : 25%;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-shadow: 2px 2px rgb(151, 193, 238);
    text-align: center;
}
/* font website img link */
#font-img{
	width: 15%;
	height: 10%;
	display: block;
    float: right;
}    
                                /* PLAYER AREA */
#playerArea{
	position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
	height: 20%;
	background-color: rgb(255, 255, 255);
    /* opacity: .4; */
    margin: 0;
}
/* top divz */
#playerTextArea{
    /* background-color: rgb(40, 245, 13); */
    width: 100%;
    height: 50%;
}
#playerTextArea h1{
    /* margin : 0; */
    margin-top : 1.5%;
}

#trackNumber{
    /* background-color: violet; */
    width: 33%;
    height: 100%;
    /* display: inline-block; */
    float: left;
}
#trackTitle{
    /* background-color: rgb(105, 5, 105); */
    width: 33%;
    height: 100%;
    /* display: inline-block; */
    float: left;
    
}
#moreInfo{
    /* background-color: rgb(46, 23, 46); */
    width: 33%;
    height: 100%;
    /* display: inline-block; */
    float: right;
}
/* bottom divz-ctrls */
#playerCtrls{
    /* background-color: rgb(214, 247, 70); */
    width: 100%;
    height: 50%;
}
#skipBackward{
    background: url(../iconz/back-1.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
      
}
#rewind{
    background: url(../iconz/rewind.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
}
#playButton{
    background: url(../iconz/play-button.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
    /* filter: drop-shadow( -5px -5px 5px #000 ); */
    filter:drop-shadow(2px 0px 4px black);
}
#progressBarArea{
    width: 33%;
    height: 100%;
    /* display: inline-block; */
    background: rgb(248, 9, 9);
    display: inline-block;
    /* float: left; */
}
#emptyProgress{
    /* background-color: yellow; */
    height: 80%;
    margin-left: 15%;
    margin-top: 8%;
    /* margin-bottom: ; */
    background : url(../img/progress_bg.png) no-repeat;
    /* float: left; */
}
#displayProgress{
    height: 80%;
    /* margin-left: 5%; */
    margin-top: 8%;
    /* margin-bottom: ; */
    background : url(../img/progress.png) no-repeat;
    display: block;
}
#durationTime{
    position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
    
}

#pauseButton{
    background: url(../iconz/pause.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
    /* filter: drop-shadow( -5px -5px 5px #000 ); */
    filter:drop-shadow(2px 0px 4px black);
}
#pauseButton.hidden{
    display: none;
}

/* play/progress slider */
/* #playBar{
    width: 90%;
    vertical-align: top;
} */
#fastForward{
    background: url(../iconz/fast-forward.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
}
#skipForward{
    background: url(../iconz/next-1.svg) no-repeat center;
    width: 10%;
    height: 100%;
    display: inline-block;
}
#volumeBar{
    /* background: url(../iconz/stop.svg) no-repeat center; */
    /* background-color: tomato; */
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1.5%;
    
}
/* volume bar slider */
#volBar{
    width: 82%;
    vertical-align: top;
    float: right;
}